{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        Запрошенная страница не найдена. Проверьте опечатки в URL или
        <a href="{{ path('homepage') }}">вернитесь на домашнюю сраницу</a>.
    </p>
{% endblock %}