{% extends 'base.html.twig' %}

{% block body %}
    <h1>Произошла ошибка. Страница не найдена или недоступна</h1>

    <p>
        Запрашиваемая Вами страница не существует или не доступна в данный момент. <br>
        <a href="{{ path('homepage') }}">вернуться на главную</a>.
    </p>
{% endblock %}