{% extends "@FOSUser/Profile/profile.html.twig" %}
{% block fos_user_content %}
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'forms.buttons.save'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
