{% if banners|length %}
    <p>banner length</p>
<ul class="today-datas">
    {%  for banner in banners %}
    <li>---{{ banner.id }}<br>
        <a href="{{ banner.link }}">
            <img src="{{ banner.fileName }}" alt="" class="banner-image">
            <p>{{ banner.title }}</p>
        </a>
    </li>
    {%  endfor %}
</ul>
{% endif %}