{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
                    Your application is now ready. You can start working on it at:
                    <code>{{ base_dir }}</code>

                    <a href="{{ path ('app_default_admin') }}">Admin</a>
                    <a href="{{ path('app_registration_new') }}">Registration</a>

                </p>
            </div>

        </div>
    </div>
{% endblock %}


