{% extends 'base.html.twig' %}

{% block body %}

{#<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document"> #}
        <div class="modal-content">

            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Письмо администратору системы</p>
            </div>
            <div class="modal-body">
                Ваше письмо отправлено.<br>
                Реквизиты письма:<br>
                Автор: {{ name }}.<br>
                Е-майл: {{ from }}.<br>
                Текст: {{ text }}.
            </div>
            <div class="modal-footer">
               {# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> #}
            </div>


        </div>
{#    </div>
</div> #}
{% endblock %}