{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block name %}
    <span class="text-info">
       <h1>Регистрация прошла успешно!</h1>
   </span>
    <hr/>
{% endblock name %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
