{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block name %}
    <span class="text-info">
       <h1>Поздравляем!</h1>
   </span>
    <hr/>
{% endblock name %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
