{% extends "base.html.twig" %}

{% block name %}
    <span class="text-info">
       <h1>Регистрация в системе</h1>
   </span>

    <p><b><span class="red">Внимание!</span> Если Вашего СМИ нет в списке для заполнения формы, <br>
            пожалуйста, <a href={{ path('contact_email') }}> обратитесь к аминистратору.</a></b></p>
    <hr/>

{% endblock name %}

{% block fos_user_content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
    <small class="pull-right"><a href="{{ path('fos_user_security_login') }}">Войти в аккаунт?</a></small>
{% endblock fos_user_content %}
