{% extends 'base.html.twig' %}

{% block body %}
    <h1>Типы СМИ</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>

            </tr>
        </thead>
        <tbody>
        {% for smitip in smitips %}
            <tr>
                <td>{{ smitip.id }}</td>
                <td><a href="{{ path('admin_smitip_edit', { 'id': smitip.id }) }}">{{ smitip.name }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('admin_smitip_new') }}" class = "btn btn-primary">Добавить</a>

{% endblock %}
