{% extends 'base.html.twig' %}
{% block title %}Справочник - типы мероприятий {% endblock %}
{% block body %}
    <h1>Типы мероприятий</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>

             </tr>
        </thead>
        <tbody>
        {% for evtip in evtips %}
            <tr>
                <td>{{ evtip.id }}</td>
                <td><a href="{{ path('admin_evtip_edit', { 'id': evtip.id }) }}">{{ evtip.name }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('admin_evtip_new') }}" class = "btn btn-primary">Добавить</a>
{% endblock %}
